<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.3.2/chart.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
 
    <title>Document</title>
  </head>
  <body>
    <div id="click">
      <canvas id="myChart" width="100%"></canvas>
    </div>
    <script>
      const materialDesignColors = [
        "rgba(156, 39, 176, 0.5)",
        "rgba(63, 81, 181, 0.5)",
        "rgba(3, 169, 244, 0.5)",
        "rgba(76, 175, 80, 0.5)",
        "rgba(255, 235, 59, 0.5)",
        "rgba(255, 152, 0, 0.5)",
        "rgba(244, 67, 54, 0.5)",
      ];

      function inIframe() {
        try {
          return window.self !== window.top;
        } catch (e) {
          return true;
        }
      }

      function generateGraph(
        labels,
        datas,
        datas1,
        datas2,
        datas3,
        datas4,
        datas5,
        datas6,
        colors,
      ) {
        var ctx = jQuery("#myChart");

        // Mettere labels
        var label = labels;

        var datas = {
          labels: label,
          datasets: [
            {
              label: ["Belluno"],
              backgroundColor: colors[0],
              data: datas,
            },
            {
              label: ["Padova"],
              backgroundColor: colors[1],
              data: datas1,
            },
            {
              label: ["Rovigo"],
              backgroundColor: colors[2],
              data: datas2,
            },
            {
              label: ["Treviso"],
              backgroundColor: colors[3],

              //Mettere data qui
              data: datas3,
            },
            {
              label: ["Venezia"],
              backgroundColor: colors[4],

              //Mettere data qui
              data: datas4,
            },
            {
              label: ["Verona"],
              backgroundColor: colors[5],

              //Mettere data qui
              data: datas5,
            },
            {
              label: ["Vicenza"],
              backgroundColor: colors[6],

              //Mettere data qui
              data: datas6,
            },
          ],
        };
        // Configurare le opzioni
        var option = {
          responsive: true,
          maintainAspectRatio: true,
          scales: {
            y: {
              ticks: {
                beginAtZero: true,
              },
            },
          },
          animations: {
            tension: {
              duration: 1000,
              easing: "linear",
              from: 1,
              to: 0,
              loop: true,
            },
          },
          plugins: {
            legend: {
              position: "top",
              onClick: (e) => e.stopPropagation(),
            },
            title: {
              display: true,
              text:
                "Percentuale (%) di Disoccupati nella fascia 15-24 per ogni provincia in Veneto, per anno e sesso",
            },
          },
        };

        var config = {
          type: "bar",
          data: datas,
          options: option,
        };

        var myChart = new Chart(ctx, config);

        $("#click").click(function (e) {
          if (inIframe()) {
            window.open(window.location.href, "_blank");
          }
        });
      }

      var labList = [];
      var datList = [];
      var datList1 = [];
      var datList2 = [];
      var datList3 = [];
      var datList4 = [];
      var datList5 = [];
      var datList6 = [];
      var colList = [];
      jQuery.ajax({
        async: false,
        type: "POST",
        url: "",
        data: JSON.parse('{"data":"disoccupazione"}'),
        dataType: "json",
        success: function (data) {
          index = 0;
          tmplist = [];
          for (const [key, value] of Object.entries(data)) {
            var color = materialDesignColors[index];
            for (i = 0; i < 2; i++) {
              values = data[key];
              var valueSplit = values[i].toString().split(";");
              tmplist.push(parseInt(valueSplit[1]));
              tmplist.push(parseInt(valueSplit[2]));
            }
            tmplist.push(0);
            colList.push(color);
            index++;
          }

          labList.push("2019 " + "Maschi");
          labList.push("2019 " + "Femmine");
          labList.push("2020 " + "Maschi");
          labList.push("2020 " + "Femmine");
          contatore = 0;
          arrayNow = 0;
          for (i = 0; i < tmplist.length; i++) {
            if (contatore > 4) {
              contatore = 0;
              arrayNow++;
            }
            switch (arrayNow) {
              case 0:
                datList.push(tmplist[i]);
                contatore++;
                break;
              case 1:
                datList1.push(tmplist[i]);
                contatore++;
                break;
              case 2:
                datList2.push(tmplist[i]);
                contatore++;
                break;
              case 3:
                datList3.push(tmplist[i]);
                contatore++;
                break;
              case 4:
                datList4.push(tmplist[i]);
                contatore++;
                break;
              case 5:
                datList5.push(tmplist[i]);
                contatore++;
                break;
              case 6:
                datList6.push(tmplist[i]);
                contatore++;
                break;
            }
          }
        },
      });

      generateGraph(
        labList,
        datList,
        datList1,
        datList2,
        datList3,
        datList4,
        datList5,
        datList6,
        colList,
      );
    </script>
  </body>
</html>
