<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.3.2/chart.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://code.jquery.com/jquery-3.6.0.min.js"
      integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
      crossorigin="anonymous"
    ></script>
    <title>Document</title>
  </head>
  <body>
    <div id="click">
      <canvas id="myChart" width="100%"></canvas>
    </div>
    <script>
      const materialDesignColors = [
        "rgba(156, 39, 176, 0.2)",
        "rgba(63, 81, 181, 0.2)",
        "rgba(3, 169, 244, 0.2)",
        "rgba(76, 175, 80, 0.2)",
        "rgba(255, 235, 59, 0.2)",
        "rgba(255, 152, 0, 0.2)",
        "rgba(244, 67, 54, 0.2)",
      ];

      function inIframe() {
        try {
          return window.self !== window.top;
        } catch (e) {
          return true;
        }
      }

      function generateGraph(sex, labels, datas, datas1, datas2, datas3, colors) {
        var ctx = jQuery("#myChart");
        var ctx = document.getElementById("myChart").getContext("2d");

        // Mettere labels
        var label = labels;

        var datas = {
          labels: label,
          datasets: [
            {
              label: "Padova",
              fill: true,
              backgroundColor: colors[0],

              //Mettere data qui
              data: datas,
            },

            {
              label: "Venezia IUAV",
              fill: true,
              backgroundColor: colors[1],

              //Mettere data qui
              data: datas1,
            },

            {
              label: "Venezia CF",
              fill: true,
              backgroundColor: colors[2],

              //Mettere data qui
              data: datas2,
            },

            {
              label: "Verona",
              fill: true,
              backgroundColor: colors[3],

              //Mettere data qui
              data: datas3,
            },
          ],
        };

        // Configurare le opzioni
        var option = {
          responsive: true,
          plugins: {
            legend: {
              position: "top",
              onClick: (e) => e.stopPropagation(),
            },
            title: {
              display: true,
              text: "Iscritti ad ogni Ateneo in Veneto, per Anno, " + sex,
            },
          },
        };

        var config = {
          type: "line",
          data: datas,
          options: option,
        };

        var myChart = new Chart(ctx, config);

        $("#click").click(function (e) {
          if (inIframe()) {
            window.open(
              window.location.href,
              "_blank",
            );
          }
        });
      }

      var labList = [];
      var datList = [];
      var datList1 = [];
      var datList2 = [];
      var datList3 = [];
      var colList = [];

      jQuery.ajax({
        async: false,
        type: "POST",
        url: "",
        data: JSON.parse('{"data":"iscrittiAteneo"}'), //qui ci va il dato rillevante per quel grafico
        dataType: "json",
        success: function (data) {
          console.log(data)
          index = 0;
          tmplist = [];
          for (i = 0; i < 11; i++) {
            var color = materialDesignColors[index];
            for (const [key, value] of Object.entries(data)) {
              values = data[key];
              var valueSplit = values[i].toString().split(";");
              if({{sex}} == 0){
                tmplist.push(parseInt(valueSplit[1]) + parseInt(valueSplit[2]));
                sex = "Entrambi i sessi"
              } else if ({{sex}} == 1){
                tmplist.push(parseInt(valueSplit[1]));
                sex = "Maschi"
              } else {
                tmplist.push(parseInt(valueSplit[2]));
                sex = "Femmine"
              }
            }
            colList.push(color);
            index++;
            label = valueSplit[0];
            labList.push(label);
          }
        },
      });

      for (i = 0; i < tmplist.length; i++) {
        switch (i % 4) {
          case 0:
            datList.push(tmplist[i]);
            break;
          case 1:
            datList2.push(tmplist[i]);
            break;
          case 2:
            datList1.push(tmplist[i]);
            break;
          case 3:
            datList3.push(tmplist[i]);
            break;
        }
      }

      generateGraph(
        sex,
        labList.reverse(),
        datList.reverse(),
        datList1.reverse(),
        datList2.reverse(),
        datList3.reverse(),
        colList,
      );
    </script>
  </body>
</html>
