<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.3.2/chart.min.js'></script>
    <title>Document</title>
</head>
<body>
    <h1>Simple Line Chart</h1>
    <!-- bar chart canvas element -->
    <table>
        <tr>
            <td>
                <iframe src="getGraph?graph=mf&atn=Verona" width="300" height="300"></iframe>
            </td>
            <td>
                <iframe src="getGraph?graph=mf&atn=Padova" width="300" height="300"></iframe>
            </td>
        </tr>
        <tr>
            <td>
                <iframe src="getGraph?graph=mf&atn=VeneziaBA" width="300" height="300"></iframe>
            </td>
            <td>
                <iframe src="getGraph?graph=mf&atn=VeneziaCF" width="300" height="300"></iframe>
            </td>
        </tr>
    </table>
    
    <p id="caption">The chart is displaying a simple line chart.</p>
</body>
</html>